Schema/Response/1014_RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Tope Ogundare (Fasyl Technology) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Msg">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MsgHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServiceId">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TxnCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="uplddate">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AppCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MsgBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fxrtupld">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ccypair" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="buyccy">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="sellccy">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="buyrt">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="sellrt">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
