Schema/Response/1029_RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Tope Ogundare (Fasyl Technology) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Msg">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MsgHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServiceId">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TxnCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MsgBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AccountSummaryList">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AppCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CMSTransID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="17"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AccountNmbr">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="16"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AcctCCY">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AcctType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Sdate">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Edate">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AvlBalance">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BookBalance">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LnMDate" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PrnAmnt" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NxtRePayAmnt" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NxtRePayDate" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LstDrwnDate" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MDate" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MAmnt" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="InstAmnt" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RetrStatus" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ErrorCode" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ErrorReason" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
