Schema/Response/ARLEXRL_RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by FASYL (FASYL) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ArielResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageType">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageDesc">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="280"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ProcCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UniqueCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BranchName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TxnDtTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalNoOfRecords">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RecordsList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CurrShortName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CurrDesc" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BuyRate" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:fractionDigits value="6"/>
													<xs:totalDigits value="7"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SellRate" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="7"/>
													<xs:fractionDigits value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastModDate" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
