Schema/Request/1009_RQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Tope Ogundare (Fasyl Technology) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Msg">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MsgHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServiceId">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TxnCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AppCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MsgBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACCTENTRY" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CMSTransID">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EntryType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AccNmbr">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BranchCode">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AcctCCY">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TxnDate">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DrCrFlag">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ValueDate">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Amount">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TxnDesc">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
