Schema/Request/ULOGIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WbankRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageType">
					<xs:complexType/>
				</xs:element>
				<xs:element name="ProcCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ULOGIN"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Uniqucode">
					<xs:complexType/>
				</xs:element>
				<xs:element name="BranchCode">
					<xs:complexType/>
				</xs:element>
				<xs:element name="AffCode">
					<xs:complexType/>
				</xs:element>
				<xs:element name="TxnDtTime">
					<xs:complexType/>
				</xs:element>
				<xs:element name="UserName">
					<xs:complexType/>
				</xs:element>
				<xs:element name="Password">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
